.container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "leftArrow graph rightArrow";
}

.arrow {
    font-size: 40px;
}

.leftArrow {
    justify-self: center;
    align-self: center;
    grid-area: leftArrow;
}

.rightArrow {
    justify-self: center;
    align-self: center;
    grid-area: rightArrow;
}

.graph {
    justify-self: center;
    align-self: center;
    grid-area: graph;
}