.title {
    width: 735px;
    height: 58px;
    left: 233px;
    top: 89px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 69px;
    text-align: center;
    color: #000000;
}

.headerTitle {
    font-size: 46px;
}